#header {
	background-image: url("landscape.jpg");
	padding: 300px;
	font-size: 55px;
}

.border {
	border: solid 3px #5ac5ee;
}

#form {
	margin: 15px;
}

.title {
	background-color: #5ac5ee;
	color: white;
	padding: 15px;
	font-size: 15px;
}